

<h1><%= "Привет!" + " " + @user.first_name + " " + @user.last_name %></h1>
<%= link_to "Редактировать профиль", edit_user_registration_path, class: "nav-link"  %>
<%= link_to "Архив", edit_user_registration_path, class: "nav-link"  %>
<%= link_to "Редактировать профиль", edit_user_registration_path, class: "nav-link"  %>

<% @user_advertisements.each do |advertisement|%>
<article class="advertisement">
	<section class="advertisement-head"> 
		<h1> <%= advertisement.title %> </h1>

		<small>
			
			<time>
				<%= advertisement.created_at.to_date.strftime( "%e %B %Y %H:%M:%S" ) %>

			</time>

			
			
			<% if advertisement.category.present? %>
			|
			<%= link_to advertisement.category.name, advertisement.category%>
			
			<% end %>

			
			
			<%= button_to 'Редактировать', edit_users_advertisement_path(advertisement)%>
			
						<%= button_to 'Уничтожить', users_advertisement_path(advertisement), method: :delete, data: { confirm: 'Вы уверены?' } %>
			
			

		</small>
	</section>

	<section class="advertisement-body">
		<%= advertisement.body %>
		<%= image_tag advertisement.image.url(:large), class: 'img-show' if advertisement.image? %>
		
	</section>
	<%= advertisement.state %>
</article>



<% end %>
