<div>
	<%= search_form_for @q, builder: SimpleForm::FormBuilder, wrapper: :horizontal_form, html: { class: 'form-horizontal'} do |f| %>
	<%= f.search_field :title_or_body_cont %>
	<%= f.submit :искать %>
	
	<% end %>
</div>

<%= render @advertisements %>
<%= will_paginate @advertisements, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
