<div>
	<%= search_form_for @q do |f| %>
	<%= f.search_field :title_or_body_cont %>
	<%= f.submit :искать %>
	<% end %>
	<%= sort_link(@q, :created_at, 'по дате добавления', default_order: :desc) %>
	|
	<%= sort_link(@q, :updated_at, 'по дате обновления', default_order: :desc) %>
</div>
<%= render @advertisements %>
<%= will_paginate @advertisements, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
