<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">action</th>
			<th scope="col">id</th>
			<th scope="col">Дата регистрации</th>
			<th scope="col">Имя</th>
			<th scope="col">Фамилия</th>
			<th scope="col">Username</th>
			<th scope="col">e-mail</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<th scope="row"></th>
			<td> 
				<%= button_to "Уничтожить", edit_user_registration_path(user.id),  method: :delete, confirm: 'Are You Sure?' %>
				<button type="button" class="btn btn-dark">Редактировать</button>
			</td>
			<td><%= user.id %></td>
			<td><%= user.created_at %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<% end %></tr>
		</tbody>
	</table>
	

